.container {
  display: flex;
  width: auto;
  padding: 10px 15px 15px 15px;

  .tableContainer {
    flex: 2;
  }

  .filterContainer {
    flex: 1;
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    background-color: #a6bbcb;
    border: 1px solid #023659;
    margin-right: 10px;
  }

  .imageContainer {
    flex: 1;
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    background-color: #a6bbcb;
    border: 1px solid #023659;
  }
}
