body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  background-color: #dfdfdf;
}

:root {
  --black: black;
  --white: #ffffff;
  --grey: #c6c6c6;
  --dark-grey: #f4f4f6;
}
